:root {
    --orange: #fd7e14;
    --light-orange: #fd7d14df;
    --dark-orange: #fc7100;
}

.text-dark-orange {
    text-decoration: none;
    color: #a95e21;
}
.text-dark-orange:hover {
    color: var(--orange);
}

.h-screen {
    height: 100vh;
}

.navbar-brand {
    transition: 1s;
}
.navbar-brand:hover {
    color: var(--orange);
}

.social-btn {
    padding: 10px;
    border-radius: 100px !important;
    color: whitesmoke;
    transition: 1s;
}
.social-btn:hover {
    color: var(--orange) !important;
}

.btn-orange {
    background-color: var(--orange);
}
.btn-orange:hover {
    background-color: var(--dark-orange);
}

.text-orange {
    color: var(--orange);
}

.bg-orange-gradient {
    background: linear-gradient(45deg, #FF2CAA 0%, #ffff01 100%);
}

.text-gradient {
    /* background: linear-gradient(to bottom right, #ff00aa, #cc00ff);  */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(162,5,104,1) 35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-purple {
    background: #c91788;
}
.btn-purple:hover {
    background: #c6047f;
}

/* stroke */
.orange-link,
.orange-link:after,
.orange-link:before {
  transition: all .5s;
}

.orange-link{
  position: relative;
}
.orange-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #E34F25;
  height: 1px;
}
.orange-link:hover:after {
  width: 100%;
}

.orange-link {
  transition: all 1s;
}

.orange-link:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
.orange-link:hover {
  color: #E34F25;
  z-index: 1;
}
.orange-link:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

.hover-eye {
    font-size: 100px;
}

.image-hover-text {
    top: 0;
    width: 100%; 
    height: 100%;
    margin: 0 auto;
    opacity: 0;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s linear;
}
.image-hover-text:hover {
    cursor: pointer;
    opacity: 1;
}

.card {
    transition: 0.5s;
}
